/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('background0.png') no-repeat center center fixed; /* URL de la imagen de fondo */
    background-size: cover; /* Hacer que la imagen cubra todo el fondo */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#inicio h1 {
    margin-bottom: 20px;
    /* background-color: #224a75; */
    color:white;
    font-size: 3em;
    text-align: center;
    /* backdrop-filter: drop-shadow(6px 10px 10px black); */
    text-shadow: 4px 4px 8px black;
}

.button {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #224a75;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0e2338;
}
