body {
    margin: 30% 10% 0 10%;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('background0.png'); /* Cambia esta ruta por la de tu imagen */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

h2 {
    margin-bottom: 20px;
    background-color: #224a75;
    font-size: 3em;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.button-grid .button {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #224a75;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0e2338;
}

.button-solo {
    display: inline-block;
    margin:2%;
}

.button-solo .button {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #224a75;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button-solo .button:hover {
    background-color: #0e2338;
}